.container {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    position: relative;
}

.header {
    padding: 0 10px;
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.toggleButtons {
    margin: 10px;
    min-height: 40px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggleButtons button {
    flex-grow: 1;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: #ecf0f1;
    color: #34495e;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.toggleButtons button:hover {
    background-color: #e0e6e8;
}

.toggleButtons button.active {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.contentArea {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.mapPanel {
    flex-grow: 1;
    min-height: 400px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out, flex-grow 0.3s ease-in-out;
}

.mapPanelSplit {
    flex-grow: 2;
    width: 66.66%;
}

.detailCard {
    flex-grow: 1;
    border-radius: 12px;
    padding: 20px;
    overflow-y: auto;
}
@media (min-width: 768px) {
    .detailCard {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .contentArea {
        flex-direction: column;
        gap: 0;
    }

    .detailCard, .mapPanel {
        width: 100%;
        min-height: 50vh;
        margin-bottom: 10px;
    }

    .mapPanelSplit {
        display: none;
    }

    .detailCard {
        min-height: 80vh;
    }
}
.detailHeader {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.backButton {
    background-color: transparent;
    color: black;
    border: none;
    padding: 8px 15px;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    font-size: 1rem;
}

.detailTitle {
    font-size: 1.8rem;
    color: #2c3e50;
    margin: 0;
}

.detailContent {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #34495e;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

.detailCoords, .detailDate {
    font-size: 0.9rem;
    color: #7f8c8d;
    background-color: #ecf0f1;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 8px;
    display: inline-block;
}
