.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 5px;
}

.backButton {
    background: none;
    border: none;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
}

.backButton:hover {
    text-decoration: underline;
}

.card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info {
    padding-top: 0.5rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

.meta p {
    font-size: 0.9rem;
    color: #555;
    margin: 0.3rem 0;
}

.loading {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
}

.joinButton {
    width: 100%;
    background-color: #007bff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.joinButton:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.participants {
    margin-top: 20px;
}

.participants h2 {
    margin-bottom: 10px;
}

.participants ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.memberItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Адаптивность */
@media (max-width: 600px) {
    .card {
        border-radius: 8px;
    }

    .image {
        height: 150px;
    }

    .title {
        font-size: 1.2rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .meta p {
        font-size: 0.8rem;
    }
}
