.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.link {
    display: flex;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    gap: 0 10px;
    transition: color 0.2s;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.linkText {
    display: none;
}

@media (min-width: 768px) {
    .nav {
        width: 200px;
        height: 100vh;
        bottom: 0;
        top: 0;
        right: auto;
        flex-direction: column;
        justify-content: flex-start;
        border-top: none;
        border-right: 1px solid #eee;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        padding-top: 20px;
    }

    .link {
        flex: none;
        width: 100%;
        padding: 15px 20px;
        text-align: left;
        border-bottom: 1px solid #616060;
    }
    .linkText {
        display: block;
    }
}