.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex-grow: 1;
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .layoutContainer {
        flex-direction: row;
    }

    .mainContent {
        flex-grow: 1;
        padding-bottom: 0;
        padding-left: 200px;
    }
}